#### 1. Import pandas library

In [43]:
import pandas as pd

#### 2. Import users table:

In [44]:
users_dt = pd.read_csv(r"C:\Users\javie\Desktop\Ironhack\Tercera_Semana\Lab8\lab-data-cleaning\your-code\datasets\users_table.csv")

In [45]:
#Let see how many rows and columns
users_dt.shape

(40325, 14)

In [46]:
users_dt.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [47]:
users_dt.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

In [48]:
users_dt = users_dt.rename(columns={"Id":"userId"})

In [49]:
users_dt.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 4. Import posts table:

In [50]:
posts_table = pd.read_csv(r"C:\Users\javie\Desktop\Ironhack\Tercera_Semana\Lab8\lab-data-cleaning\your-code\datasets\posts_table.csv")

In [51]:
posts_table.shape

(40000, 21)

In [52]:
posts_table.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [53]:
posts_table = posts_table.rename(columns={"Id":"postId", "OwnerUserId":"userId"})

In [54]:
posts_table.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [55]:
newdt_users = users_dt[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
newdt_posts = posts_table[["postId", "Score", "userId", "ViewCount", "CommentCount"]]

In [56]:
newdt_users.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [57]:
newdt_posts.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [58]:
mergedt = pd.merge(newdt_users, newdt_posts,
                   on="userId",
                   how="left"
                   )
mergedt.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,NaN,0.0
1,-1,1,0,5007,1920,8576.0,0.0,NaN,0.0
2,-1,1,0,5007,1920,8578.0,0.0,NaN,0.0
3,-1,1,0,5007,1920,8981.0,0.0,NaN,0.0
4,-1,1,0,5007,1920,8982.0,0.0,NaN,0.0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [59]:
mergedt.isnull().sum()[mergedt.isnull().sum()>0]

postId          32187
Score           32187
ViewCount       55759
CommentCount    32187
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [60]:
#Drop thecolumns that have more than half of rows with missing values. To scarce
#In this case we have one column (ViewCounts)
dt_null = mergedt.isnull().sum()[mergedt.isnull().sum()>32187]
mergedt_clean = mergedt.drop(columns=["ViewCount"])
#For the other columns with less than half of missing values we will fill them with the median
mergedt_final = mergedt_clean.fillna(mergedt.median())
mergedt_final.head()

   userId  Reputation  Views  UpVotes  DownVotes  postId  Score  CommentCount
0      -1           1      0     5007       1920  2175.0    0.0           0.0
1      -1           1      0     5007       1920  8576.0    0.0           0.0
2      -1           1      0     5007       1920  8578.0    0.0           0.0
3      -1           1      0     5007       1920  8981.0    0.0           0.0
4      -1           1      0     5007       1920  8982.0    0.0           0.0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [61]:
mergedt_final.dtypes
#we have columns with float and int type, we are going to put all off them to INT
mergedt_final = mergedt_final.astype("int64")
mergedt_final.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
CommentCount    int64
dtype: object